// @font-face {
// 	font-family: 'Poppins';
// 	src: url('./fonts/Poppins-Regular.ttf');
// }

html {
	font-size: 16px;
}

body {
    // font-family: 'Poppins';
    font-size: inherit;
}

p {
	font-size: 1.1rem;
}

.bg-primary {
	background-color: #191059 !important;
	color: white;
}

.container {
	width: 1400px;
    max-width: 95%;
    height: 100%;
}

.card {
    padding: 0.75rem 1.5rem;
    box-shadow: 2px 2px 8px 1px lightgrey;
    color: #4049aa;
}

.progress-bar {
	width: 0%;
    height: 0.3rem;
    position: fixed;
    top: 0;
    background-color: #d83d32;
    z-index: 9999;
}

.hero-banner {
	height: 100vh;
	width: 100%;
	margin-bottom: 0;
	padding: 0;
	position: relative;
    display: flex;
    border-radius: 0;
}

.hero-banner h1 {
	margin: 0;
	font-weight: bold;
	font-size: 3rem;
}

.hero-banner .navbar-menu {
	margin: 2rem 0;
}
.hero-banner .navbar-menu a {
	margin: 0 3rem;
	color: white;
	font-weight: bold;
}

.hero-banner .navbar-menu a:hover {
	text-decoration: none;
}

.hero-banner .name .middle {
	font-size: 10rem;
	line-height: normal;
	display: inline;
}

.hero-banner .name .middle:before {
	content: "MUHAMMAD";
    font-size: 2rem;
    position: absolute;
    top: -1rem;
    padding-left: 0.5rem;
}

.hero-banner .name .middle:after {
	content: "IFTIKHAR";
    font-size: 2rem;
    position: absolute;
    bottom: -1rem;
    right: 0;
}

.hero-banner .designation {
    border-left: 3px solid white;
}

.hero-banner .header {
	margin: 4rem 0px;
    color: #2e334b;
}

.hero-banner .header h1 {
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
}

.hero-banner .social {
	margin: 2rem 0;
}

.hero-banner .social a {
    color: white;
    margin: 0 1.75rem;
}

section {
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
}

section h1 {
	font-size: 3.5rem;
    text-align: center;
    padding: 4rem 0;
    margin-bottom: 0;
    font-weight: bold;
    color: #3828AA;
    background-color: white;
}

section.sticky {
    padding-top: 195px;
}

section.sticky h1 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    left: 0;
}

section.bg-primary h1 {
    background-color: #191059;
}

section h2 {
	font-size: 2.5rem;
}

section h4 {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #4049aa;
    font-weight: bold;
}

section.bg-primary h1,
section.bg-primary h2,
section.bg-primary h3,
section.bg-primary h4,
section.bg-primary h5,
section.bg-primary h6 {
	color: white;
}

section .inner-content {
    min-height: calc(100vh - 14.5rem);
    padding-bottom: 5rem;
}

section.about .card {
    border-radius: 0;
    margin: 25px 0;
    box-shadow: 2px 2px 9px 0px lightgrey;
    color: #4049aa;
    border-color: transparent;
    border-width: 12px;
    border-left: 0.75rem solid #4049aa;
}

section.about .academics ul {
    margin-bottom: 0;
    padding-left: 20px;
}

section.about .academics ul h5 {
    margin-bottom: 0;
    font-weight: bold;
}

section.about .image img {
    max-width: 20rem;
    box-sizing: content-box;
    background: black;
    border-radius: 2rem;
    box-shadow: 6px 6px 10px 1px grey;
}

section.work .milestone {
	height: 12rem;
	position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.work .milestone.left {
	padding-right: 6rem;
}

section.work .milestone.right {
	padding-left: 6rem;
}

section.work .milestone .marker {
	position: absolute;
	width: 2rem;
    border: 3px solid;
}

section.work .milestone.left .marker {
    right: 0;
}

section.work .milestone.right .marker {
    left: 0;
}

section.work .milestone.left:after {
    width: 0.5rem;
    height: 100%;
    content: "";
    position: absolute;
    right: -0.25rem;
    background: white;
}

section.work .milestone.right:before {
    width: 0.5rem;
    height: 100%;
    content: "";
    position: absolute;
    left: -0.25rem;
    background: white;
}

section.skills p.skill-card {
	margin-right: 1rem;
    border-radius: 0px;
    font-weight: bold;
    font-size: 1rem;
}

section.portfolio .scroll-list {
    overflow-x: auto;
}

section.portfolio .scroll-list::-webkit-scrollbar {
    height: 0;
}

section.portfolio .scroll-list > *:first-child .portfolio-card {
	margin-left: 6rem;
}

section.portfolio .scroll-list > *:last-child  .portfolio-card {
	margin-right: 6rem;
}

section.portfolio .portfolio-item {
    position: relative;
    height: 100%;
    min-height: calc(100vh - 14.5rem);
}

section.portfolio .portfolio-item img.image {
    max-width: 450px;
    width: 100%;
    /* position: absolute;
    top: 45%;
    left: 2%;
    transform: translateY(-45%); */
}

/* section.portfolio.sticky .portfolio-item img.image {
    position: fixed;
    top: 60%;
    left: 10%;
    transform: translateY(-60%);
} */

section.portfolio .portfolio-card {
    width: 22rem;
    background: #262d71;
    padding: 4rem 2rem;
    border-radius: 0rem;
    margin: 0 1rem;
    box-shadow: 1px 1px 1px 1px #1d2359;
}


section.portfolio .portfolio-card .image {
	margin-bottom: 3rem;
}

section.portfolio .portfolio-card .image img {
	max-width: 12rem;
}

section.contact .contact-card {
    max-width: 90%;
    width: 35rem;
    margin: 0 auto;
}

section.contact .contact-card .form-group {
    margin-bottom: 2rem;
}

section.contact .contact-card label {
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #4049aa;
}

section.contact .contact-card .form-control {
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 0.5rem .75rem;
    border: 2px solid #4049aa;
}

section.contact .contact-card .form-control:focus {
    box-shadow: none;
}

section.contact .contact-card .form-control::placeholder {
    color: #b3b9bf;
}

section.contact .contact-card .btn-primary {
    background-color: #4049aa;
    border-color: #4049aa;
    border-radius: 0;
    padding: 0.75rem;
    font-weight: bold;
    letter-spacing: 1px;
}

